    body, html {
        padding : 0px 10px;
        margin : 0px;
        background-color: #F7F7F7;
    }

    #wrapper {
        width: 900px;
        margin: 80px 0px;
        padding: 0px;

    }

    #sidebar {
        width:200px;
        float:left;
    }

    #sidebar_block {
        margin-bottom: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        border-bottom: 1px solid #CCC;
        width: 145px;
    }

    #header {
        background-color:#F7F7F7;
        width:900px;
        height:40px;
        padding: 10px 0px;
        border-bottom: 1px solid #CCC;
        display: table;
        position: fixed;
        z-index: 10;
        top: 0;

    }

    #header h1 {
        font-family: 'Dosis', sans-serif;
        font-weight: 400;
        font-size: 19px;
        padding: 0px 0px;
        margin: 0px 0px;
        color: #666;
        display: table-cell;
        vertical-align: middle;
    }

    #header_sm {
        background-color:#F7F7F7;
        width:900px;
        height:30px;
        padding: 5px 0px;
        display: table;
    }

    #header_sm h1 {
        font-family: 'Dosis', sans-serif;
        font-weight: 300;
        font-size: 16px;
        padding: 0px 0px;
        margin: 0px 0px;
        color: #666;
        display: table-cell;
        vertical-align: middle;
    }

    #portrait {
        background-color:#F7F7F7;
        width:125px;
        margin-bottom: 20px;
        padding-right: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid #CCC;
        float:left;
    } 

    nav {
        background-color:#F7F7F7;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px;       
    }

    nav.stick {
        width: 200px;
        position: fixed;
        top: 0;
        z-index: 8;
        margin-top:80px;
    }

    nav hr {
        height: 0px;
        background: #F7F7F7;
        width: 80%;
        font-size: 1px; /* IE 6 */
        overflow: hidden;
        margin: 10px 0px;
        border-bottom: 1px solid #CCC;
    }   

    nav h1 {
        font-family: 'Dosis', sans-serif;
        font-weight: 300;
        font-size: 16px;
        padding: 0px 0px 5px 0px;
        margin: 0px 0px;
        color: #666;
    } 

    nav ul, li {
        font-family: 'Dosis', sans-serif;
        font-weight: 200;
        font-size: 14px;
        text-decoration: none;
        list-style-type: none;
        list-style: none;
        padding: 0;
        margin: 0;
        color: #666;
    }

    nav a {
        text-decoration: none;
        color: #666;
        line-height: 28px;
    } 

    nav a:hover {
        color: #000000;
        font-weight: 300;
    }

    nav a:active {
        color: #000000;
    }

    #content {
        background-color:#F7F7F7;
        width:700px;
        padding: 0px 0px;
        float:right;
    }

    #content_block {
        margin-bottom: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        border-bottom: 1px solid #CCC;
    }

    #content h1 {
        font-family: 'Dosis', sans-serif;
        font-weight: 200;
        font-size: 22px;
        padding: 0px 0px;
        margin-top: 0px;
        margin-bottom: 12px;
        color: #666;
        text-decoration:underline;
    }

    #content h2 {
        font-family: 'Dosis', sans-serif;
        font-weight: 300;
        font-size: 20px;
        padding: 0px 0px;
        margin-top: 0px;
        margin-bottom: 8px;
        color: #666;
    }

    #content h3 {
        font-family: 'Dosis', sans-serif;
        font-weight: 300;
        font-size: 18px;
        padding: 0px 0px;
        margin-top: 0px;
        margin-bottom: 8px;
        color: #666;
    }

    #content h4 {
        font-family: 'Dosis', sans-serif;
        font-weight: 200;
        font-size: 14px;
        padding: 0px 0px;
        margin-top: 0px;
        margin-bottom: 8px;
        color: #666;
    }

    #content p {
        font-family: 'Dosis', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        padding: 0px 0px;
        margin-top: 2px;
        margin-bottom: 8px;
        color: #666;
    } 

    #content hr {
        height: 10px;
        background: #F7F7F7;
        width: 100%;
        font-size: 1px; /* IE 6 */
        overflow: hidden;
        margin: 15px 0px;
    }

.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}     